body {
    background-color: beige;
    color: rgb(11, 211, 21);
    font-size: 15px;
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color: rgb(6, 63, 185);
    font-size: 20px;

}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}